/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline;
}
a, select, input, textarea { outline: none; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global specifics */
 body {
    -webkit-text-size-adjust : 100%; 
    -ms-text-size-adjust : 100%;
    text-rendering: optimizeLegibility; /* using kerning and ligatures http://www.aestheticallyloyal.com/public/optimize-legibility/ */
}

em { font-style : italic; }
strong { font-weight : bold; }
del { text-decoration : line-through; }

/* fix safari to stop it rendering text too fat in some cases (usually light text on dark backgrounds)
 http://orderedlist.com/our-writing/blog/articles/webkit-font-smoothing/ */
body { -webkit-font-smoothing: antialiased; }

a:link { -webkit-tap-highlight-color : #999; }
::-webkit-selection,
::-moz-selection,
::selection { background : #999; color : #fff; text-shadow : none; }
   
/* kill input=search default styling on webkit
input[type=search] {
  -webkit-appearance : none; }
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
  display : none; } */
::-webkit-input-placeholder,
input:-moz-placeholder {
	padding : 10px;
    font-size : .875em; line-height : 1.4;
}
  
/* get better quality images on IE7/IEmob7 */
.ie7 img, .iem7 img { -ms-interpolation-mode : bicubic; }

/* setup sizing for global elements */
* {
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    -o-box-sizing : border-box;
    -ms-box-sizing : border-box;
    box-sizing : border-box;
}
